

.row
    .col-md-12
        + forms.post()
            + widget.panel(login_title or 'Login')

                + widget.panel_body()
                        + forms.hidden("method", value="email")
                        + forms.hidden("next", value=login_url_next)
                        + forms.input('username', label='Login', value=username or "", data={"validation": "required"})
                        + forms.input('password', label='Password', type='password', data={"validation": "required" })

                + widget.panel_footer()
                    + forms.button('Login', type='submit', class="btn-primary btn-block")






