.row
    .col-md-12
        + forms.post()
            + widget.panel(login_title or 'Lost Password')

                + widget.panel_body()
                    + forms.hidden("next", value=login_url_next)
                    + forms.input('username', label='Username or Email', value=username or "", data={"validation": "required"})

                + widget.panel_footer()
                    + forms.button('Retrieve Password', type='submit', class="btn-primary btn-block")


