- set action = url_for(request.endpoint, signed_data=signed_data, action_token=action_token)

.row
    .col-md-12
        + forms.post(action=action)
            + widget.panel(login_title or 'Reset Password')

                + widget.panel_body()
                    + widget.alert("warning", false)
                        | You neet to reset your password to continue

                    + forms.hidden("next", value=login_url_next)
                    + forms.input('password', label='New Password', type='password', data={"validation": "required" })
                    + forms.input('password_confirm', label='Confirm Password', type='password', data={"validation": "required" })

                + widget.panel_footer()
                    + forms.button('Save New Password', type='submit', class="btn-primary btn-block")


