+ html.include_js_file('contrib.formvalidator.js')
+ html.include_js_file('contrib.auth.js')
+ html.include_css_file('contrib.auth.css')

+ forms.post("auth.Account:change_password")
    if redirect_url
        + forms.hidden(name='redirect', value=redirect_url)
    + forms.input('password', label=_('New Password'), type='password', data={"validation": "required"})
    + forms.input('password_confirm', label=_('Confirm New Password'),  type='password', data={"validation": "required"})
    + forms.input('current_password', label="*" + _('Confirm your changes by entering  your current password'),  type='password', data={"validation": "required"})
    + forms.button(_("Save Password"), type='submit', class='btn btn-primary')


